:root {
  --primary: #0d6efd;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --red: #dc3545;
  --gray-200: #e9ecef;
}
